{{ define "ADMIN_EVENT_LOCATION" }}

<div
class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-6 gap-4 box-border md:w-fit"
>
  <div>
    <label
      for="{{.ID}}.name"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Name</label
      required
    >
    <input
      type="text"
      name="{{.ID}}.name"
      id="{{.ID}}.name"
      class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      value="{{.Name}}"
    />
  </div>

  <div>
    <label
      for="{{.ID}}.url"
      class="block text-sm font-medium leading-6 text-gray-900"
      >URL</label
    >
    <input
      type="text"
      name="{{.ID}}.url"
      id="{{.ID}}.url"
      class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      value="{{.URL}}"
    />
  </div>

  <div>
    <label
      for="{{.ID}}.country"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Country</label
    >
    <input
      type="text"
      name="{{.ID}}.country"
      id="{{.ID}}.country"
      class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      value="{{.Country}}"
    />
  </div>

  <div>
    <label
      for="{{.ID}}.city"
      class="block text-sm font-medium leading-6 text-gray-900"
      >City</label
    >
    <input
      type="text"
      name="{{.ID}}.city"
      id="{{.ID}}.city"
      class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      value="{{.City}}"
    />
  </div>

  <div>
    <label
      for="{{.ID}}.zipcode"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Zip code</label
    >
    <input
      type="text"
      name="{{.ID}}.zipcode"
      id="{{.ID}}.zipcode"
      class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      value="{{.ZipCode}}"
    />
  </div>

  <div>
    <label
      for="{{.ID}}.street"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Street</label
    >
    <input
      type="text"
      name="{{.ID}}.street"
      id="{{.ID}}.street"
      class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      value="{{.Street}}"
    />
  </div>

  <div>
    <label
      for="{{.ID}}.street_number"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Street number</label
    >
    <input
      type="text"
      name="{{.ID}}.street_number"
      id="{{.ID}}.street_number"
      class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      value="{{.StreetNumber}}"
    />
  </div>

  <div>
    <label
      for="{{.ID}}.longitude"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Longitude</label
    >
    <input
      type="text"
      name="{{.ID}}.longitude"
      id="{{.ID}}.longitude"
      class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      value="{{.Longitude}}"
    />
  </div>

  <div>
    <label
      for="{{.ID}}.latitude"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Latitude</label
    >
    <input
      type="text"
      name="{{.ID}}.latitude"
      id="{{.ID}}.latitude"
      class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      value="{{.Latitude}}"
    />
  </div>

  <div>
    <label
      for="{{.ID}}.website"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Website</label
    >
    <input
      type="text"
      name="{{.ID}}.website"
      id="{{.ID}}.website"
      class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      value="{{.Website}}"
    />
  </div>
  </div>

{{ end }}
