{{ define "GUEST_FORM" }}

<form hx-post="{{.id}}/submit" class="flex flex-col gap-5">
  <div
    id="guest-form-input-container"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4"
  >
    {{ range .guests }} {{ $guest := . }}
    <div
      class="relative flex flex-1 md:flex-none flex-col gap-4 px-6 py-4 rounded-lg border border-gray-900/10"
    >
      {{ if .Deleteable }}
      <button
        type="button"
        hx-delete="{{$.id}}/guests/{{.ID}}"
        hx-target="closest div"
        hx-swap="outerHTML swap:0s"
        class="absolute top-[8px] right-[8px] text-gray-500 hover:text-gray-300 leading-4"
      >
        &#x2715;
      </button>
      {{ end }}
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 box-border md:w-fit">
        <div>
          <label
            for="{{.ID}}.firstname"
            class="block text-sm font-medium leading-6 text-gray-900"
            >{{ $.translation.GuestForm.LabelInputFirstname }}</label
          >
          <input
            type="text"
            name="{{.ID}}.firstname"
            id="{{.ID}}.firstname"
            class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            value="{{.Firstname}}"
            required
          />
        </div>
        <div>
          <label
            for="{{.ID}}.lastname"
            class="block text-sm font-medium leading-6 text-gray-900"
            >{{ $.translation.GuestForm.LabelInputLastname }}</label
          >
          <input
            type="text"
            name="{{.ID}}.lastname"
            id="{{.ID}}.lastname"
            class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            value="{{.Lastname}}"
            required
          />
        </div>
        <div>
          <label
            for="{{.ID}}.dietary_category"
            class="block text-sm font-medium leading-6 text-gray-900"
            >{{ $.translation.GuestForm.LabelSelectDiet }}</label
          >
          <select
              id="{{.ID}}.dietary_category"
              name="{{.ID}}.dietary_category"
              autocomplete="diet-name"
              class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
          >
              {{ range $index, $value := $.translation.GuestForm.SelectOptionsDiet
              }}
              {{ if eq $index 0 }}<option value="" disabled selected></option>{{ continue }}{{ end }}
              <option
                  value="{{$index}}"
                  {{ if eq $index $guest.DietaryCategory }}
                  selected
                  {{ end }}
              >
              {{$value}}
            </option>
            {{ end }}
          </select>
        </div>

        <div>
          <label
            for="{{.ID}}.age_category"
            class="block text-sm font-medium leading-6 text-gray-900"
            >{{ $.translation.GuestForm.LabelSelectAge }}</label
          >
          <select
              id="{{.ID}}.age_category"
              value="{{.AgeCategory}}"
              name="{{.ID}}.age_category"
              autocomplete="age-name"
              class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
          >
              {{ range $index, $value := $.translation.GuestForm.SelectOptionsAge
              }}
              {{ if eq $index 0 }}<option value="" disabled selected></option>{{ continue }}{{ end }}
            <option
              value="{{$index}}"
              {{ if eq $index $guest.AgeCategory }}
              selected
              {{ end }}
            >
              {{$value}}
            </option>
            {{ end }}
          </select>
        </div>

        <div>
          <label
            for="{{.ID}}.invitation_status"
            class="block text-sm font-medium leading-6 text-gray-900"
            >{{ $.translation.GuestForm.LabelSelectInvStatus }}</label
          >
          <select
            id="{{.ID}}.invitation_status"
            value="{{.InvitationStatus}}"
            name="{{.ID}}.invitation_status"
            autocomplete="invitation_status"
            class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
          >
              {{ range $index, $value :=
              $.translation.GuestForm.SelectOptionsInvStatus }}
              {{ if eq $index 0 }}<option value="" disabled selected></option>{{ continue }}{{ end }}
              <option
                  value="{{$index}}"
                  {{ if eq $index $guest.InvitationStatus }}
                  selected
                  {{ end }}
              >
              {{$value}}
            </option>
            {{ end }}
          </select>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="flex justify-around md:flex-row flex-col gap-4">
    <button
      hx-put="{{.id}}/guests"
      hx-target="#guest-form-input-container"
      hx-swap="beforeend"
      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      {{ .translation.GuestForm.LabelButtonAddGuest }}
    </button>
    <button
      type="submit"
      class="rounded-md bg-indigo-600 px-6 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      {{ .translation.GuestForm.LabelButtonSubmit }}
    </button>
  </div>
</form>

{{ end }}
