{{ define "GUEST_INPUT" }}

<div
  class="relative flex flex-1 md:flex-none flex-col gap-4 px-6 py-4 rounded-lg border border-gray-900/10"
>
  <button
    type="button"
    hx-delete="{{.invitationID}}/guests/{{.ID}}"
    hx-target="closest div"
    hx-swap="outerHTML swap:0s"
    class="absolute top-[8px] right-[8px] text-gray-500 hover:text-gray-300 leading-4"
  >
    &#x2715;
  </button>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 box-border md:w-fit">
    <div>
      <label
        for="{{.ID}}.firstname"
        class="block text-sm font-medium leading-6 text-gray-900"
        >{{ $.translation.GuestForm.LabelInputFirstname }}</label
      >
      <input
        type="text"
        name="{{.ID}}.firstname"
        id="{{.ID}}.firstname"
        class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        value="{{.Firstname}}"
        required
      />
    </div>
    <div>
      <label
        for="{{.ID}}.lastname"
        class="block text-sm font-medium leading-6 text-gray-900"
        >{{ $.translation.GuestForm.LabelInputLastname }}</label
      >
      <input
        type="text"
        name="{{.ID}}.lastname"
        id="{{.ID}}.lastname"
        class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        value="{{.Lastname}}"
        required
      />
    </div>
    <div>
      <label
        for="{{.ID}}.dietary_category"
        class="block text-sm font-medium leading-6 text-gray-900"
        >{{ $.translation.GuestForm.LabelSelectDiet }}</label
      >
      <select
        id="{{.ID}}.dietary_category"
        name="{{.ID}}.dietary_category"
        autocomplete="diet-name"
        class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
      >
        <option value="" disabled selected></option>
        {{ range $.translation.GuestForm.SelectOptionsDiet }}
        <option value="{{.}}">{{.}}</option>
        {{ end }}
      </select>
    </div>

    <div>
      <label
        for="{{.ID}}.age_category"
        class="block text-sm font-medium leading-6 text-gray-900"
        >{{ $.translation.GuestForm.LabelSelectAge }}</label
      >
      <select
        id="{{.ID}}.age_category"
        name="{{.ID}}.age_category"
        autocomplete="age-name"
        class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
      >
        <option value="" disabled selected></option>
        {{ range $.translation.GuestForm.SelectOptionsAge }}
        <option value="{{.}}">{{.}}</option>
        {{ end }}
      </select>
    </div>

    <div>
      <label
        for="{{.ID}}.invitation_status"
        class="block text-sm font-medium leading-6 text-gray-900"
        >{{ $.translation.GuestForm.LabelSelectInvStatus }}</label
      >
      <select
        id="{{.ID}}.invitation_status"
        name="{{.ID}}.invitation_status"
        autocomplete="invitation_status"
        class="block w-full rounded-md border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
      >
        <option value="" disabled selected></option>
        {{ range $index, $value :=
        $.translation.GuestForm.SelectOptionsInvStatus }}
        <option value="{{$index}}">{{$value}}</option>
        {{ end }}
      </select>
    </div>
  </div>
</div>

{{ end }}
