<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎉</text></svg>"
    />
    <title>{{.Title}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col min-h-screen">
    {{ template "HEADER" .}} {{ template "CONTENT" .}} {{ template "FOOTER" .}}
    <script>
      document.body.addEventListener("htmx:configRequest", function (event) {
        let currentUrl = new URL(window.location.href);
        event.detail.path += currentUrl.search;
      });
    </script>
  </body>
</html>
